/*Work Sans Font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* ------ Header ------ */
header {
    background-color: #ebe0e0;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {

    text-decoration: none;
    color: #3C354F;
}

.pink {
    color: #FF42A5;
}

.follow {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-links {
    align-items: space-between;
}

/* banner-section */
main li {
    color: #534C64;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-two {
    max-width: 1920px;
    display: flex;
    height: 600px;
}

.banner-two img {
    width: 100%;
    padding: 55px 240px;
}

.banner-we {
    text-align: right;
    margin: right;
}

.banner-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.paragraph {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
}

.pink-button {
    color: #FFF;
    background-color: #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    padding: 20px 40px;
}

.blue-button {
    color: #FFF;
    background-color: #4EC5F7;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    padding: 21px 40px;
}

.paragraph-our {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.paragraph-unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/*
.banner-play-play {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
*/