/*Work Sans Font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* ------ Header ------ */
header {
    background-color: #ebe0e0;
    padding: 50px 240px;
}

main {
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {

    text-decoration: none;
    color: #3C354F;
}

.pink {
    color: #FF42A5;
}

.follow {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner-section */
main li {
    color: #534C64;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-two {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    max-width: 1920px;
    display: flex;
    width:  calc(100% + 34px);
    height: 600px;
}

.banner-two img {
    width: 868px;
    /*padding: 55px 240px; */
}

.banner-we {
    text-align: right;
    margin: right;
    padding: 95px 240px 95px 52px;
}

.banner-we p {
    width: 520px;
}

.banner-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.paragraph {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.pink-button {
    color: #FFF;
    background-color: #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    padding: 20px 40px;
}

.blue-button {
    color: #FFF;
    background-color: #4EC5F7;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    padding: 20px 40px;
}

.paragraph-our {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.paragraph-unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/*---------Online-Section---------*/
    .Online-Games{
        background: rgb(241, 229, 239);
        width: calc(100% + 34px);
    }
    
    .Online-Games>h2 {
        text-align: center;
    }

    .Online-Games>p {
        text-align: center;
    }

    .black-title {
        color:#0B0223;
        font-size: 3rem;
        font-weight: 700;
    }

    .Online-image {
        display: flex;
        gap: 24px;
    }

    .Online-image img {
        width: 342px;
        height: 400px;
    }

    .img-caption{
        width: 342px;
    }

    /*---------Play_Instantly-Section---------*/
    .Play-Instantly {
        display: flex;
        background: rgb(238, 219, 231);
        width: calc(100% + 34px);
        padding: 95px 0px 0px 0px;
        margin: 120px 0px 120px 0px;
    }

    .play-para {
        padding: 50px 240px;
    }

    .play-img {
        padding: 50px 240px;
    }
    
    .play-img-b {
        position: relative;
        bottom: 260px;
        right: 145px;
    }
/*
.banner-play-play {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
*/

/*-------###-Media-Query Small device-###-------*/

/*-----------NavBar-----------*/

@media screen and (max-width: 576px) {
    header {
        padding: 0px;
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        padding: 40px;
    }

    nav li {
        margin-left: 0px;
    }

    /*-----------Banner-----------*/

    .banner-two {
        display: flex;
        flex-direction: column;
    }
    
    .banner-two img {
        width: 100%;
        padding: 0px;
    }

    .banner-we {
        text-align: center;
        margin: 30px;
        padding: 30px;
    }

}

/*----------###-Media Query medium device-###----------*/

/*-----------NavBar-----------*/
@media screen and (min-width: 577px) and (max-width: 768px) {
        {
        header {
            padding: 0px;
        }

        nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        nav>ul {
            display: flex;
            flex-direction: column;
            gap: 60px;
            text-align: center;
            padding: 60px;
        }

        nav li {
            margin-left: 0px;
        }
    }

    /*-----------Banner-----------*/
    .banner-two {
        display: flex;
        flex-direction: column;
    }
    
    .banner-two img {
        width: 100%;
        padding: 10px;
    }

    .banner-we {
        text-align: center;
        margin: 30px;
        padding: 40px;
    }




}