/*Work Sans Font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* ------ Header ------ */
header {
    background-color: #ebe0e0;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {

    text-decoration: none;
    color: #3C354F;
}

.pink {
    color: #FF42A5;
}

.follow {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-links {
    align-items: space-between;
}

/* banner-play-section */
.banner-play-play {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.banner-title {
    color: #F948B2;
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
}

main li {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    list-style: none;
    margin-left: 30px;
}

.paragraph {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
}

.pink-button {
    color:#FFF;
    background-color: #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3rem;
    width: 156px;
    height: 65px;
    padding: 40px 21px;
}